@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;


.Header {
    background-color: $black;

    @include desktop(){
        background-color: $white;
    }

    &__topbar {
        display: none;
        
        @include tablet(){
            background-color: $primary-color;
            display: block;
            padding: 1rem;

            &-container {
                max-width: 1280px;
                margin: 0 auto;
                display: flex;        
                justify-content: space-between;
                align-items: center;
    
            }

        @include desktop(){
        background-color: $black;
        }
        }    

    }

    &__menu {
        padding: 1rem;

        &-container {
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__burguer {
        color: $secondary-color;
        background-color: transparent;
        border: none;
        cursor: pointer;

        ion-icon {
            width: 2rem;
            height: 2rem;
        }

        @include desktop(){
            display: none;
        }
    }

}