// colors
$primary-color:#7C4A53;
$secondary-color:#E5DBD2;
$tertiary-color:#F5F5F5;
$white:#ffff;
$black: #222222;

// fonts
$h1-desktop:5rem;
$h2-desktop:4rem;
$h3-desktop:2rem;

$h1-tablet:4rem;
$h2-tablet:3rem;

$small: .875rem;
$default: 1rem;

// recorda que el paddding lateral en desktop es 2rem