@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Home {
    background-image: url('../../../public/bannerHome.webp');
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;

    @include desktop(){
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 6rem;

        @include tablet(){        
            padding: 5rem 1rem 10rem;
            max-width: 1140px;
        }
        
        @include desktop(){
            height: 90vh;
            flex-direction: row;
            margin: 0 auto;
            padding: 0 5rem;
            max-width: 1280px;
            gap: 1.5rem;
            align-items: center;
        }
    }
    

    &__h1 {
        font-size: $h1-tablet;
        color:$secondary-color;
        @include desktop(){
            font-size: $h1-desktop;
        }
    }

    &__content, &__media {
        flex: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__banner {
        width: 100%;
        max-height: 22rem;
        object-fit: cover;
        object-position: center;

        @include desktop(){
          max-height: 37rem;
        }
    }

    &__p {
        width: 90%;
        line-height: 1.7;
        color:$secondary-color;
    }
}