@use '../../../../styles/variables' as * ;

.IconText {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $white;

    ion-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    &--about {
        ion-icon {
            background-color: $primary-color;
            padding: .4rem;
            color: white;
            border-radius: 10px;
        }

        span {
            color: $black;
            font-weight: 600;
        }
    }
}